.footer_div
{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: white;
    margin-top: 40px;
    padding: 20px;
}
.footer_div h1
{
    color:#001727;
    font-size: 5vh;
    font-weight: 700;
}
.contact1
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 10px;
    row-gap: 20px;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.contact_info
{
    text-align: center;
    width: 100%;
}
.contact_info p
{

}
.contact_info i
{
    margin-right: 20px;
}