.main_page {
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0px;
}

.main_page img {
  width: 550px;
  margin-bottom: 10px;
}
.content-home img {
  width: 180px;
  margin-bottom: 15px;
}
.content-home {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 85%;
  margin-top: 2vh;
}

.content-home h2 {
  color: rgb(255, 255, 255);
  line-height: 4vh;
  font-size: 3.2vh;
}
.content-home h4 {
  color: rgb(255, 255, 255);
  line-height: 3.5vh;
  font-size: 2vh;
}

.home_content {
  text-align: center;
  width: 100%;
}

.main_page h1 {
  color: #ebe718;
  font-weight: 800;
  animation: glow 2s infinite;
  font-size: 5.5vh;
}

.marquee {
  display: grid;
  align-items: center;
  align-content: center;
  overflow-x: hidden;
  height: auto;
  width: 100%;
  background-color: #ebe718;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}
.marquee h4 {
  font-size: 16px;
  margin-bottom: 0px;
  display: inline-block;
  overflow: hidden;
  animation: marqueeAnimation 12s linear infinite;
}

/*RESPONSIVENESS*/


@media (max-width: 1150px) {
  .main_page {
    padding-top: 0px
  }
  .content-home h2 {
    font-size: 3.5vh;
  }
  .content-home h4 {
    font-size: 2vh;
  }
  .main_page h1 {
    font-size: 4vh;
  }
  .main_page img {
    width: 525px;
  }
  .content-home {
    margin-top: 10px;
    grid-template-columns: 100%;
  }
  .content-home img {
    width: 150px;
  }
  .content-home img {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media (max-width: 900px) {
  .content-home h2 {
    font-size: 3vh;
    line-height: 5vh;
    margin-top: 8px;
  }
  .main_page h1 {
    font-size: 3.5vh;
  }
  .main_page img {
    width: 500px;
  }
  .content-home img {
    width: 120px;
  }
  .marquee {
    margin-bottom: 20px;
    padding: 5px;
  }
  .marquee h4 {
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .content-home h2 {
    font-size: 2.5vh;
    line-height: 4vh;
  }
  .main_page
  {
    padding: 5px;
  }
  .main_page h1 {
    font-size: 2.5vh;
  }
  .main_page img {
    width: 280px;
  }
  .content-home img {
    margin-top: 10px;
    width: 120px;
  }
  .content-home h4 {
    font-size: 1.8vh;
  }
  .marquee
  {
    margin-bottom: 0px;
  }

}

/*ANIMATIONS*/
@keyframes glow {
  0% {
    text-shadow: 0 0 1vh rgba(235, 232, 24, 0.668);
  }

  50% {
    text-shadow: 0 0 3vh rgba(235, 232, 24, 0.668);
  }

  100% {
    text-shadow: 0 0 1vh rgba(235, 232, 24, 0.668);
  }
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(58%);
  }
  100% {
    transform: translateX(-75%);
  }
}
