.main_page {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  height: 90vh;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.main_page img {
  width: 50%;
  margin-bottom: 5vh;
}

.content-home {
  width: 85%;
  text-align: center;
  margin-top: 8vh;
}

.content-home h2 {
  color: rgb(255, 255, 255);
  line-height: 6vh;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 1vh rgba(235, 232, 24, 0.668);
  }

  50% {
    text-shadow: 0 0 3vh rgba(235, 232, 24, 0.668);
  }

  100% {
    text-shadow: 0 0 1vh rgba(235, 232, 24, 0.668);
  }
}

.content-home h1 {
  color: #ebe718;
  font-weight: 800;
  animation: glow 2s infinite;
  padding: 2vh;
}
/*RESPONSIVENESS*/
@media (max-width: 1150px) {
  .content-home h2 {
    font-size: 3.5vh;
  }
  .content-home h1 {
    font-size: 4vh;
  }
  .main_page img {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .content-home h2 {
    font-size: 3vh;
    line-height: 5vh;
  }
  .content-home h1 {
    font-size: 3.5vh;
  }
  .main_page img {
    width: 90%;
  }
}

@media (max-width: 850px) {
  .content-home h2 {
    font-size: 3vh;
    line-height: 4vh;
  }
  .content-home h1 {
    font-size: 3vh;
  }
  .main_page img {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .content-home h2 {
    font-size: 2.5vh;
    line-height: 4vh;
  }
  .content-home h1 {
    font-size: 3vh;
  }
  .main_page img {
    width: 100%;
  }
}
