.main_page {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    height: 60vh;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.main_page img
{
    height: 500px;
    width: 80%;
    margin-bottom: 100px;
}
.content-home {
    width: 70%;
    text-align: center;
    margin-top: 30px;
}

.content-home h2 {
    color: rgb(255, 255, 255);
    line-height: 60px;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px rgba(235, 232, 24, 0.668);
    }

    50% {
        text-shadow: 0 0 30px rgba(235, 232, 24, 0.668);
    }

    100% {
        text-shadow: 0 0 10px rgba(235, 232, 24, 0.668);
    }
}

.content-home h1 {
    color: #ebe718;
    font-weight: 800;
    animation: glow 2s infinite;
    padding: 10px;
}