/* Default styles for all screen sizes */

.themes {
  text-align: center;
}

.themes h1 {
  color: #ebe718;
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 40px;
  margin-top: 40px;
}

.theme_list {
  display: grid;
  grid-template-columns: 42% 42%;
  row-gap: 40px;
  column-gap: 40px;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.single_theme {
  width: 85%;
  height: auto;
  display: grid;
  grid-template-columns: 30% 50%;
  column-gap: 40px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.632);
  animation: scaleAndFade 1.5s ease-out;
  transition: transform 0.3s ease;
  border-radius: 8px;
}

.single_theme img {
  height: 150px;
  width: 150px;
}

.theme_content p {
  color: white;
  font-size: 34px;
  font-weight: 600;
}

.single_theme:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #ebe818be;
}

@keyframes scaleAndFade {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.02);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .theme_content p {
    color: white;
    font-size: 24px;
    font-weight: 600;
  }
}

@media (max-width: 800px) {
  .theme_list {
    grid-template-columns: 100%;
  }

  .single_theme {
    width: 60%;
    grid-template-columns: 100%;
    text-align: center;
  }

  .single_theme img {
    width: 150px;
    height: 150px;
  }
}
